Q1. Write a Python function called add_numbers that takes two numbers as arguments and returns their sum. Then, test the function by calling it with two numbers of your choice.

In [3]:
def addition(a, b):
    sum = a + b
    return sum

addition(15,30)

45

Q2. Write a Python function count_vowels that accepts a string and returns the number of vowels a, e, i, o, u, A, E, I, O, U in that string.

- Example: 'Welcome'
- Output: 3 vowels

In [4]:
def count_vowels(text):
    vowels = "aeiouAEIOU"
    count = 0
    for ch in text:
        if ch in vowels:
            count += 1
    return count
print(count_vowels("Welcome"))

3

Q3. Create a Python function called currency_converter() that takes two arguments:
- amount: The amount of money to be converted (in USD).
- exchange_rate (default is 280): The conversion rate from USD to another currency (e.g., PKR). You can assume the default rate is 1 USD = 280 PKR.
The function should return a message showing how much the given amount is worth in the target currency (PKR).
Expected Output:
'100 USD is equivalent to 28000 PKR'

In [5]:
def converter(amount, exchange_rate=280):
    converted = amount * exchange_rate
    return f"{amount} USD is equivalent to {converted} PKR"
print(converter(500))

500 USD is equivalent to 140000 PKR

Q4. Write a Python function display_student_info that accepts the following details about a student:

- name (Keyword argument): The name of the student.
- age (Keyword argument): The age of the student.
- grade (Keyword argument): The grade the student is in.
- school (Keyword argument): The name of the school the student attends.
- 
Expected Output:
- Name: John Doe
- Age: 15
- Grade: 10th
- School: Greenwood High

In [6]:
def student_info(*, name, age, grade, school):
    print("Name:", name)
    print("Age:", age)
    print("Grade:", grade)
    print("School:", school)

student_info(name="Mustafa", age=15, grade="11th", school="The Educators")

Name: Mustafa
Age: 15
Grade: 11th
School: The Educators

Q5. Write a Python function calculate_price that accepts two positional arguments:

- price: The price of a single item.
- quantity: The number of items bought.
- The function should return the total price by multiplying price and quantity.

In [7]:
def cal_price(price, quantity):
    total = price * quantity
    return total

cal_price(100,5)

500

Q6. Write a Python function display_prices that takes a product name and an arbitrary number of keyword arguments representing product prices. The function should display each product and its price.

Expected Output:
Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

In [8]:
def show_prices(product, **prices):
    print("Product:", product)
    for store, price in prices.items():
        print(f"{store}: ${price}")

show_prices("Laptop", Amazon=800, eBay=750, Walmart=780)

Product: Laptop
Amazon: $800
eBay: $750
Walmart: $780

Q7. Write a Python function find_max that takes arbitrary number of positional arguments and returns the maximum number.

In [10]:
def find_maximum(*numbers):
    return max(numbers)

print(find_maximum(3, 6, 9, 49, 12))

49

Q9. Write a Python function taxi_fare(distance, rate=100) that calculates the taxi fare.
The default rate is 100 PKR per km, but the user can also enter a custom rate.
FORMULA: distance * rate

Expected Output:
- Taxi fare for 10 km = 1000 PKR (using default parameter)
- Taxi fare for 15 km = 1800 PKR (custom rate)

In [ ]:
def taxi_fare(distance, rate=100):
    return distance * rate
    
print("Taxi fare for 10 km =", taxi_fare(10), "PKR") 
print("Taxi fare for 15 km =", taxi_fare(15, 120), "PKR")